.v-data-table {
  &.is-grid {
    overflow-x: auto;
    table {
      thead,
      tbody {
        tr {
          display: grid;
          grid-template-columns: 50px minmax(360px, 1fr) repeat(auto-fit, minmax(220px, 0.23fr));
          grid-auto-flow: column;
          th,
          td {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
